<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='imagem/logo.png') }}" class="logo" alt="logo">
        <h1 class="title">Criar Conta</h1>

        <form method="post" action="/register">
            <input type="email" name="email" placeholder="email@gmail.com" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <input class="nickname-area" type="text" name="nickname" placeholder="Nickname" required>
            <button class="btn" type="submit">Criar conta</button>
        </form>

        <a href="{{ url_for('homepage') }}" class="home-link">&lt; VOLTAR</a>
    </div>
</body>

</html>