<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Categorias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='imagem/logo.png') }}" class="logo" alt="logo">
        <h1 class="title">Escolha uma categoria</h1>

        <div class="categories-grid">
            {% for id,name in categorias %}
            <form action="{{ url_for('criar_game') }}" method="post" style="display:inline;">
                <input type="hidden" name="category_id" value="{{ id }}">
                <button class="category-card btn" type="submit">{{ name }}</button>
            </form>
            {% endfor %}
        </div>

        <a href="{{ url_for('homepage') }}" class="home-link">&lt; VOLTAR</a>
    </div>
</body>

</html>