<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Selecione as categorias</title>

    <!-- CSS global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="categorias-body">

    <img src="{{ url_for('static', filename='imagem/logo.png') }}" class="logo-categorias">

    <h1 class="categorias-title">Selecione as categorias</h1>

    <div class="categorias-container">

        <div class="coluna-esq">
            <label class="categoria-item">
                <input type="checkbox" class="categoria-checkbox">
                <span class="categoria-texto">Animais</span>
            </label>

            <label class="categoria-item">
                <input type="checkbox" class="categoria-checkbox">
                <span class="categoria-texto">Frutas</span>
            </label>

            <label class="categoria-item">
                <input type="checkbox" class="categoria-checkbox">
                <span class="categoria-texto">Séries</span>
            </label>
        </div>

        <div class="coluna-dir">
            <label class="categoria-item">
                <input type="checkbox" class="categoria-checkbox">
                <span class="categoria-texto">Objetos</span>
            </label>

            <label class="categoria-item">
                <input type="checkbox" class="categoria-checkbox">
                <span class="categoria-texto">Filmes</span>
            </label>

            <label class="categoria-item">
                <input type="checkbox" class="categoria-checkbox">
                <span class="categoria-texto">Verbos</span>
            </label>
        </div>

    </div>

    <div class="categorias-footer">
        <a href="/regras" class="categorias-voltar">&lt; VOLTAR</a>
        <a href="/jogo" class="categorias-proximo">PRÓXIMO &gt;</a>
    </div>

</body>

</html>