<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="page-container">

        <!-- Logo -->
        <img src="{{ url_for('static', filename='imagem/logo.png') }}" class="logo-home" alt="Logo">

        <!-- Título principal -->
        <h1 class="title-home">Jogar agora!</h1>

        <!-- Link como jogar -->
        <a href="#" class="home-link">Como jogar?</a>

    </div>

</body>

</html>