<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Homepage - Jogo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="page-home">
    <img src="{{ url_for('static', filename='imagem/logo.png') }}" class="logo-home" alt="logo">
    <div class="page-container">
        <h1 class="title-home">Jogar agora!</h1>
        <a href="{{ url_for('categorias') }}" class="home-link">Escolher categoria</a>
        <a href="{{ url_for('tempo') }}" class="home-link">Escolher tempo</a>
    </div>
</body>

</html>